{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu des pizzas</title>
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <a href="{% url 'main:index'%}">
        <img class='logo_mama' src="{% static 'menu/assets/small_logo.png' %}" alt="logo du site Pizza mama">
    </a>
    <div class ="menu_title">
        <h1>Les pizzas</h1>
    </div>
    <div class="menu_list">
        {% for pizza in pizzas %}
        <div class="menu_list_item">
            <span class="menu_list_title">{{pizza.nom}}</span>
            <span class="menu_list_price">{{pizza.prix | floatformat:2}} €</span>
            <span class="menu_list_ingredients">{{pizza.ingredients}}</span>
            {% if pizza.vegetarienne == 1 %}
                <span class="menu_list_vegan">Végétarienne</span>
            {% endif%}
        </div>
        {% endfor %}
    </div>
</body>
</html>